.col {
    display:inline-flex;

}
div {
    height: 32px;
    vertical-align: top;
    
}

.game-view {
    overflow: scroll;
    height : 710px;
    width : 4100px;
}

.map {
    overflow: visible;
    
}







